.bg {
        background-image: url('c:/Users/sophi/OneDrive/Documents/MART 120/GitHub/CreativeCoding1HW/Homework8/Images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }